<h1>Edit a task</h1>

<%= form_for(@task) do |f| %>
<%= f.label :name %>
<%= f.text_field :name %>
<%= f.label :date %>
<%= f.text_field :date %>
<%= f.label :time %>
<%= f.text_field :time %>
<%= f.label :place %>
<%= f.text_field :place %>
<%= f.label :content %>
<%= f.text_field :content %>
<%= f.submit %>
<% end %>